bin/
dist/
data/
lib/

benchmarks/*
benchmarks_titan
!benchmarks/*.blif
!benchmarks/*.json
!benchmarks/*.xml

tasks/*

!tasks/example_java/
tasks/example_java/*
!tasks/example_java/config.json

!tasks/example_vpr/
tasks/example_vpr/*
!tasks/example_vpr/config.json



nbproject
.project
.settings
.classpath
.metadata
manifest.mf
build.xml

vpr

*.csv
*.ods
*.pyc
*.log
**/__pycache__
/build/