bin/
dist/
data/
lib/

benchmarks/*
benchmarks_titan
!benchmarks/*.blif
!benchmarks/*.json
!benchmarks/*.xml

tasks/*
!tasks/run.py
!tasks/example_task



nbproject
.project
.settings
.classpath
.metadata
manifest.mf
build.xml

vpr

*.csv
*.ods
*.pyc
*.log
**/__pycache__
