bin
dist
data
dependencies
results

benchmarks/*
!benchmarks/*.blif
!benchmarks/*.json
!benchmarks/*.xml


nbproject
.project
.settings
.classpath
.metadata
manifest.mf
build.xml

vpr

*.csv
*.ods
*.pyc
*.log
**/__pycache__